.cabecalho__menu-hamburguer {
    width: 24px;
    height: 24px;
    background-image: url("/assets/img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;
}

.cabecalho {
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.container {
    display: flex;
    align-items: center;
}

.container__imagem {
    padding: 1em;
}

.lista-menu {
    display: none;
    position: absolute;
    top: 100%;
    width: 50vw;
}

.container__botao {
    display: none;
}

.container__botao:checked~.container__rotulo>.cabecalho__menu-hamburguer {
    background-image: url(/assets/img/Menu\ Aberto.png);
}

.container__botao:checked~.container__rotulo {
    background: var(--azul-degrade);
}

.container__botao:checked~.lista-menu {
    /* ~ combinador CSS*/
    display: block;
}

.lista-menu__titulo {
    color: var(--laranja);
    font-weight: 700;
}

.lista-menu__link {
    background: var(--azul-degrade);
    text-decoration: none;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
}

.lista-menu__titulo,
.lista-menu__item {
    padding: 1em;
    background-color: var(--branco);
}

/*------ responsividade para tablet --------*/

.container__titulo,
.opcoes {
    display: none;
}

.container__texto {
    display: none;
}

@media screen and (min-width: 1024px) {

    .container__titulo,
    .container__titulo--negrito {
        display: block;
        font-family: var(--fonte-secundaria);
        font-size: 30px;
    }

    .container__titulo {
        font-weight: 400;
        display: flex;
    }

    .container__titulo--negrito {
        font-weight: 700;
    }

    .opcoes {
        display: flex;
        margin-left: 1.5em;
    }

    .opcoes__item {
        padding: 0 1em;
        text-transform: uppercase;
    }

    .opcoes__link {
        text-decoration: none;
        color: var(--preto);
    }

    .container__imagem-transparente,
    .cabecalho__menu-hamburguer {
        display: none;
    }
    .container__link-home{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .opcoes__botao:checked~.lista-menu {
        /* ~ combinador CSS*/
        display: block;
        width: auto;
        height: auto;
    }

    .opcoes__botao {
        display: none;
    }
    .opcoes__botao:checked~.opcoes__rotulo > .opcoes__item{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .opcoes__item{
        padding: 2em;
    }
    .lista-menu__item:hover{
        background: var(--azul-degrade);
        color: var(--branco);
    }
    .lista-menu__item:hover > .lista-menu__link{
        -webkit-text-fill-color: var(--branco);
    }
    .lista-menu__titulo{
        display: none;
    }
}

/* ----- tela responsividade desktop -----*/

@media screen and (min-width: 1366px) {

    .opcoes__link:hover, .container__link:hover{
        color: var(--laranja-hover);
    }
    .container__link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }
    .container__link-home{
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        color: var(--preto);
    }

    .cabecalho {
        padding: 0 2em;
    }

    .container__texto {
        display: block;
    }
}